numpy==1.26.4 
thinc 
spacy  
ml-dtypes 
opt-einsum 
scipy 
google==2.0.3 
google-genai==1.2.0 
websockets==14.2 
gradio<=5.0.2
gradio-client
peft==0.2.0   
trl<=0.7.1 
diffusers<= 0.19.0 
tenacity==8.2.3 
openai==1.12.0 
huggingface-hub<=0.23.0 
tiktoken==0.6.0 
httpx<=0.26 
firebase-admin 
dataproc-spark-connect 
yfinance 
transformers>=4.34.1,<4.36
torch 
torchvision 
torchaudio 
pandas 
scikit-learn 
bitsandbytes 
accelerate<=0.34.2
fsspec<=2025.3.2 
datasets>=2.14.7,<3
gcsfs
sentencepiece 
evaluate 
protobuf 
accelerate 
sentence-transformers
tensorflow<=2.18.0
jax<=0.4.23 
chex 
dopamine_rl 
optax 
orbax-checkpoint
jaxlib<=0.4.23 -f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
